	<section id="fh5co-contact" data-section="contact">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">{{ with .Site.Params.loginregister.title }}{{ . | markdownify }}{{ end }}</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<h3>{{ with .Site.Params.loginregister.description }}{{ . | markdownify }}{{ end }}</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-bottom-padded-md">
				<div class="col-md-6 to-animate">
					<h3>{{ with .Site.Params.loginregister.info }}{{ . | markdownify }}{{ end }}</h3>
					<ul class="fh5co-contact-info">
					{{ range .Site.Params.loginregister.details }}
						<li class="fh5co-contact-address "><i class="{{ with index . 0}}{{ . }}{{ end }}"></i>{{ with index . 1}}{{ . | markdownify }}{{ end }}</li>
					{{ end }}
					</ul>
				</div>
				
			</div>
		</div>
		{{ if .Site.Params.contact.map }}
        	<div id="map" class="to-animate"></div>
		{{ end }}
	</section>
